:root {
  --primary: #674A75;
  --bs-primary-rgb: 103, 74, 117;
  --rose: #D55D78;
  --soft-lemon: #FAEA9E;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary);
  --bs-btn-disabled-border-color: var(--primary);
}

.btn-outline-primary {
  --bs-btn-color: var(--primary);
  --bs-btn-border-color: var(--primary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary);
  --bs-btn-hover-border-color: var(--primary);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary);
  --bs-btn-active-border-color: var(--primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--primary);
  --bs-gradient: none;
}

.btn-outline-rose {
  --bs-btn-color: var(--rose);
  --bs-btn-border-color: var(--rose);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--rose);
  --bs-btn-hover-border-color: var(--rose);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--rose);
  --bs-btn-active-border-color: var(--rose);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--rose);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--rose);
  --bs-gradient: none;
}

.bg-soft-lemon {
  background-color: var(--soft-lemon) !important;
}

.wave {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  height: 30px;
}

  .wave span {
    width: 6px;
    height: 10px;
    background: var(--primary);
    border-radius: 3px;
    animation: wave 1s infinite ease-in-out;
  }

    .wave span:nth-child(2) {
      animation-delay: 0.1s;
    }

    .wave span:nth-child(3) {
      animation-delay: 0.2s;
    }

    .wave span:nth-child(4) {
      animation-delay: 0.3s;
    }

    .wave span:nth-child(5) {
      animation-delay: 0.4s;
    }

@keyframes wave {

  0%, 100% {
    height: 10px;
  }

  50% {
    height: 30px;
  }
}

.badg-primary {
  height: 65px !important;
  width: 65px !important;
  border-radius: 50% !important;
  background-color: rgba(var(--bs-primary-rgb), 1) !important;
  color: rgba(var(--bs-white-rgb), 1) !important;
  text-align: center !important;
  font-size: 2.5rem !important;
  font-weight: 700 !important;
}
